<h1>Dreams</h1>


<% if !@dreams.blank? %>

  <% for item in @dreams %>
	  <strong>[ <%= item.user.alias %> ] <%= item.title %></strong>
	  <p><%= item.body %></p>
  <% end %>
<% else %>
	<h3> No such dreams </h3>
<% end %>
  
<form id="dream" action="/dreams" method="post">
	<label for="alias">Your Name</label><input type="text" name="user[alias]" value="" id="alias" /><br/>
	<label for="title">Title</label><input type="text" name="dream[title]" value="" id="title" /><br/>
	Your Dream<br/>
	<textarea name="dream[body]" rows="8" cols="40"></textarea><br/>
	<input type="submit" name="save" value="save" id="save" />
</form>