<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>LogYourDream.com | Coming Soon</title>
		<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="master" charset="utf-8">
	</head>
	<body>
		<%= yield %>
	</body>	
	<script type="text/javascript" charset="utf-8" src="/script/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="/script/jquery.curvycorners.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var settings = {
							tl: { radius: 10 },
							tr: { radius: 10 },
							bl: { radius: 10 },
							br: { radius: 10 },
							antiAlias: true
						}

		curvyCorners(settings, $("#announcement").get(0));
	});
	</script>
</html>